extends layout

block content
  h1= title
 
  - let Output = results;
  script.
    function buy(num){
      alert("You purchased items " + (num+1));
    }

  div.container-fluid
    div.row
        each Library , num in Output
            div.col-sm-2(onClick = `buy(${num})`)
                p Library Name: #{Library.LibraryName}
                p Timings  : #{Library.Timings}
                p Place : #{Library.place}